@import '../../style/shared.scss';

.MainPage {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 0 $spacing-xs;
}

.MainTable {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
.SideBar {
  position: fixed;
  top: calc(100vh - 4.5rem);
  left: 0;
  width: 100%;
  background: $text-light;
  height: 100%;
  overflow: hidden;

  border: $border-width-m solid $sky-light;
  border-radius: $radius-m;
  box-shadow: 0 -5px 50px rgba($sky-default, $opacity-5);
  z-index: 1;
  transition: top $animation-duration-m ease-out;

  ul {
    list-style: none;
    padding-left: 0;
  }

  & > div {
    margin: 0 $spacing-s;
  }

  .SideBarButton {
    margin-top: $spacing-s;
  }

  @media #{$mq-desktop} {
    position: static;
    padding: 0 $spacing-m;
    flex: 0 $size-7-xl;
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow-y: scroll;

    & > div {
      margin: 0;
    }
    .SideBarButton {
      display: none;
    }
  }

  @media #{$mq-desktop-big} {
    position: static;
    padding: 0 $spacing-l;
    flex: 0 $size-8-xl;
  }

  &.show {
    top: 0rem;
    border: none;
    border-radius: 0;
    overflow-y: scroll;
  }
}

// Scrollbar
::-webkit-scrollbar {
  display: block;
  width: $size-xs;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: $radius-m;
}

:hover::-webkit-scrollbar-track {
  background: rgba($sky-light, $opacity-5);
}

:hover::-webkit-scrollbar-thumb {
  background: $sky-dark;
}
