@import '../../style/shared.scss';

.MainPage {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 0 $spacing-l;
}

.mainTable {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
.sideBar {
  flex: 0 20rem;
  padding: 0 $spacing-l;
  height: 100%;
  overflow-y: scroll;
}
