@import '../../style/shared.scss';

.MainPage {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 0 $spacing-l;
}

.mainTable {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
.sideBar {
  flex: 0 20rem;
  padding: 0 $spacing-l;
  height: 100%;
  overflow-y: scroll;
}

// Scrollbar
::-webkit-scrollbar {
  display: block;
  width: $size-xs;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: $radius-m;
}

:hover::-webkit-scrollbar-track {
  background: rgba($sky-light, $opacity-5);
}

:hover::-webkit-scrollbar-thumb {
  background: $red-default;
}
