@import '../../style/shared.scss';

@mixin color-td($main-color, $text-color) {
  background: $main-color;
  color: $text-color;
  text-align: center;
  cursor: pointer;
  transition: $animation-duration-m ease-out;
  position: relative;
  overflow: hidden;
  animation: animation-color $animation-duration-m forwards;

  .DeleteIcon {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    position: absolute;
    z-index: 2;
    opacity: 0;
    fill: $text-color;
    transition: all $animation-duration-m ease-out;
    pointer-events: none;
  }

  &::after {
    content: ' ';
    transition: background $animation-duration-m ease-out;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow-l rgba($main-color, $opacity-8);
    z-index: 1;

    .DeleteIcon {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0);
    }
    // transform: scale(1.05);
    &::after {
      content: ' ';
      background: rgba($main-color, 0.8);
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: $radius-m;
      top: 0;
    }
  }
}

@keyframes animation-color {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Timetable {
  //table-layout: fixed;
  border-spacing: $spacing-xs;
  width: 100%;
  height: 100%;

  tbody tr {
    height: $size-2-xl;
  }
  th {
    font-size: $font-size-xs;
    @media #{$mq-desktop} {
      font-size: $font-size-s;
    }
  }
  th[scope='row'] {
    text-align: right;
    width: $size-2-xl;
    padding-bottom: $spacing-l;
  }
  td {
    background: $sky-light;
    border-radius: $radius-m;
    width: 100px;
    height: 100%;
  }
  .Event.red {
    @include color-td($red-default, $text-light);
  }
  .Event.blue {
    @include color-td($blue-default, $text-light);
  }
  .Event.green {
    @include color-td($green-default, $text-dark);
  }
  .Event.yellow {
    @include color-td($yellow-default, $text-dark);
  }
  .Event.grey {
    @include color-td($grey-default, $text-light);
  }
  .Event.sky {
    @include color-td($sky-default, $text-dark);
  }

  .Event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $radius-m;
    height: 100%;

    .EventName {
      font-size: $font-size-s;
      text-transform: capitalize;
      display: none;
      @media #{$mq-desktop} {
        display: block;
      }
    }
    .EventShortname {
      display: block;
      @media #{$mq-desktop} {
        display: none;
      }
    }
    .EventDesc {
      font-size: $font-size-xs;
    }
  }
}
