{
  "extends": ["plugin:shopify/react", "plugin:shopify/prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react/button-has-type": "off",
    "import/namespace": [2, {"allowComputed": true}],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ],
    "jsx-a11y/no-noninteractive-element-to-interactive-role": [
      "error",
      {
        "ul": [
          "listbox",
          "menu",
          "menubar",
          "radiogroup",
          "tablist",
          "tree",
          "treegrid"
        ],
        "ol": [
          "listbox",
          "menu",
          "menubar",
          "radiogroup",
          "tablist",
          "tree",
          "treegrid"
        ],
        "li": ["menuitem", "option", "row", "tab", "treeitem"],
        "table": ["grid"],
        "td": ["gridcell"]
      }
    ]
  }
}
