@import '../../style/shared.scss';

@mixin card-color($main-color, $text-color) {
  .ComplementaryInfo {
    color: $main-color;
  }

  &.isPressed {
    background: $main-color;
    color: $text-color;
    border-color: $main-color;

    .isPressedBadge {
      color: $text-color;
      border-color: $text-color;
    }

    .ComplementaryInfo {
      color: rgba($text-color, $opacity-8);
    }

    &:hover,
    &:focus {
      box-shadow: $shadow-l rgba($main-color, $opacity-8);
    }
  }
}

.Card {
  border: $border-width-m solid $sky-light;
  border-radius: $radius-m;
  padding: $spacing-m;
  margin: $spacing-m 0;
  transition: $animation-duration-s ease-out;

  &.isClickable {
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: $shadow-m rgba($sky-default, $opacity-5);
    }
  }

  &.isDisabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &.red {
    @include card-color($red-default, $text-light);
  }

  &.blue {
    @include card-color($blue-default, $text-light);
  }

  &.green {
    @include card-color($green-default, $text-dark);
  }

  &.yellow {
    @include card-color($yellow-light, $text-dark);
  }

  &.grey {
    @include card-color($grey-dark, $text-light);
  }

  &.sky {
    @include card-color($sky-default, $text-dark);
  }

  &:focus {
    outline: 0;
  }

  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: $font-size-s;
  }

  .CardBadge {
    margin-bottom: $spacing-m;
  }

  .CardSubtitle {
    font-size: $font-size-xs;
  }

  .CardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .CardBodyText {
    flex: 1;
  }

  .ComplementaryInfo {
    display: block;
    font-size: $font-size-s;
    margin-top: $spacing-m;
  }
}
