@import '../../style/shared.scss';

.Card {
  border: $border-width-m solid $sky-light;
  border-radius: $radius-m;
  padding: $spacing-m;

  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.cardBadge {
  margin-bottom: $spacing-m;
}

.cardSubtitle {
  font-size: $font-size-s;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBodyText {
  flex: 1;
}

.complementaryInfo {
  display: block;
  margin-top: $spacing-m;
}

.red {
  .complementaryInfo {
    color: $red-default;
  }
}
