@import '../../style/shared.scss';

.Alert {
  font-size: $font-size-m;
  padding: $spacing-s;
  border-radius: $radius-s;
}

@mixin alert($bg-color, $text-color) {
  background: $bg-color;
  color: $text-color;
}

.red {
  @include alert($red-lighter, $red-darker);
}

.green {
  @include alert($green-lighter, $green-darker);
}

.blue {
  @include alert($blue-lighter, $blue-darker);
}

.yellow {
  @include alert($yellow-lighter, $yellow-darker);
}

.grey {
  @include alert($grey-dark, $text-light);
}

.sky {
  @include alert($sky-light, $sky-darker);
}
