$mq-phone: 'only screen and (min-width: 640px)';
$mq-phone-big: 'only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3)';
$mq-tablet: 'only screen and (min-width: 768px)';
$mq-desktop: 'only screen and (min-width: 1024px)';
$mq-desktop-big: 'only screen and (min-width: 1280px)';
