$text-light: #ffffff;
$text-dark: #000000;

$red-lighter: #ff9f9e;
$red-light: #ff6b6b;
$red-default: #e61c1c;
$red-dark: #bf0d0d;
$red-darker: #990403;

$blue-lighter: #cccfff;
$blue-light: #99a0ff;
$blue-default: #5d66e9;
$blue-dark: #444cc2;
$blue-darker: #2f369c;

$yellow-lighter: #ffe89a;
$yellow-light: #ffd033;
$yellow-default: #ffc400;
$yellow-dark: #b38900;
$yellow-darker: #664e00;

$green-lighter: #94ffd2;
$green-light: #34f2a3;
$green-default: #02d87f;
$green-dark: #006644;
$green-darker: #003821;
/*
$green-lighter: #94fff3;
$green-light: #34f2dd;
$green-default: #02d8c1;
$green-dark: #008c7d;
$green-darker: #004039;
*/

$grey-lighter: #ced7e6;
$grey-light: #a1a8b3;
$grey-default: #3e444d;
$grey-dark: #1d2126;
$grey-darker: #000000;

$sky-lighter: #ffffff;
$sky-light: #e8eef2;
$sky-default: #a3c2d9;
$sky-dark: #5b778c;
$sky-darker: #3f5d73;
