$size-2-xs: 0.25rem;
$size-xs: 0.5rem;
$size-s: 0.75rem;
$size-m: 1rem;
$size-l: 1.5rem;
$size-xl: 2rem;
$size-2-xl: 3rem;
$size-3-xl: 4rem;
$size-4-xl: 6rem;
$size-5-xl: 8rem;
$size-6-xl: 12rem;
$size-7-xl: 16rem;
$size-8-xl: 20rem;
$size-9-xl: 32rem;

$min-touch-target: 48px;
