$spacing-2-xs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;
$spacing-2-xl: 3rem;
$spacing-3-xl: 4rem;
$spacing-4-xl: 6rem;
$spacing-5-xl: 8rem;
$spacing-6-xl: 12rem;
$spacing-7-xl: 16rem;
$spacing-8-xl: 24rem;
$spacing-9-xl: 32rem;
