$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2-xl: 1.5rem;
$font-size-3-xl: 1.875rem;
$font-size-4-xl: 2.25rem;
$font-size-5-xl: 3rem;
$font-size-6-xl: 3.75rem;
$font-size-7-xl: 4.5rem;
